html{
	height:100%;
}
body{
	font-family:Trebuchet MS;
	font-size: 13px;
	color:#545454;
	margin:0;
    padding: 0;
	background-image:url(../images/bg.jpg);
}
a{
	color:#196867;
	text-decoration:none;
}
a:hover{
    color:#444444;
}
p{
	margin:0 0 18px;
}
a img{
	border:none;
}
h1, h2, h3, h4	,h5{
	color:#3b1a00;
}
.clear{
	clear:both;
}
#top_light{
	background-image:url(../images/top_light.png);
	background-repeat:no-repeat;
	background-position:top;	
}
#foot{
	background-image:url(../images/foot_bg.png);
	background-repeat:no-repeat;
	background-position:bottom;	
}
#container{
	margin:0 auto;
	width:963px;

}
#head{
	background-image:url(../images/head.png);
	background-repeat:no-repeat;
	color:#f1e4ca;
	height:117px;
}
#logo{
	width:320px;
    float: left;
	padding:10px 0 0 0;
}
#top_right{
    margin:0 0 0 4px;
    width:300px;
    float: left;
	font-size:17px;
	font-style:italic;
	padding:15px 10px 0 10px;
	color:#3b1a00;
}
#cart{
	width:280px;
    float: left;
	padding:10px 0 0 30px;
}
#bascket{
	margin:2px 0 0 110px;
	height:40px;
	color:#3b1a00;
	font-size:13px;	
	background-image:url(../images/bascket.png);
	background-repeat:no-repeat;
	background-position:left;
	padding:8px 0 0 36px;
	line-height:16px;
}
#bascket a{
	color:#3b1a00;
}
#bascket a:hover{
	color:#555;
}
.menu{
	padding:4px 0 6px 0;
	width:262px;
}
.menu ul{
    margin:0 auto;
    list-style:none;
    width:100%;
    display:table;
	padding:0;
}
.menu li{
	height: 41px;
	vertical-align:middle;
    padding:0;
    margin: 0;
    display:table-cell;
	text-align:center;
	max-width:142px;
}
.menu li#first{
    background-position:left;
	text-align:left;
	max-width:60px;
}
.menu li#last{
    background-position:right;
    padding-right: 0;
	max-width:70px;
}
.menu ul a{
    font-size:16px;
	font-style:italic;
	line-height:15px;
    padding:0 10px 0 10px;
    text-decoration:none;
    color:#3b1a00;
}
.menu li:hover, #menu li#hov_top{

}
.menu li:hover#first{
	background-position:left;
}
.menu li:hover#last{
	background-position:right;
}
.menu li.cur_menu{
	background-image:url(../images/menu_cur.png);
	background-position:center;
}
.menu li.cur_menu a{
	text-decoration:underline;
}
.menu li.cur_menu#first a{
	border-left:none;	
}
.menu li#last a{
	border-right:none;
	text-align:right;
	padding-right:0;
}
.menu li:hover a, #menu li#hov_top a{

	text-decoration:underline;
}
#content{
	background-color:#fff;
	border-left:1px solid #3b1a00;	
	border-right:1px solid #3b1a00;
	padding:5px 0;
	margin-left:1px;
}
#left_col{
    width: 230px;
    float: left;
	margin: 0 40px 0 0;
    min-height: 580px;
}
#right_col{
    width: 670px;
    float: left;
    min-height: 580px;
	padding:10px 0 0 0;
}
#left_menu{
	margin:0 0 35px 0;	
}
#left_menu ul{
	padding:0;
	margin:0;
	list-style:none;
}
#left_menu ul ul{
	padding:0;
}
#left_menu li{
	background-image:url(../images/left_title.jpg);
	background-repeat:no-repeat;
	padding:0 0 0 20px;
	margin:0 0 10px 0;
}
#left_menu li li{
	border:none;
	background-image:url(../images/bullet.jpg);
	background-repeat:no-repeat;
	background-position:0 12px;
	margin:0;
	padding:0 0 0 15px;
}
#left_menu li li li{
	background-image:url(../images/bullet_s.jpg);
	background-position:0 9px;
	padding:0 0 0 12px;
	margin:0 0 0 3px;
}
#left_menu li a{
	font-size:16px;
	display:block;
	padding:8px 0;
	color:#3b1a00;
}
#left_menu li li a{
	font-size:15px;
	font-style:italic;
	color:#196867;
	padding:5px 0;
}
#left_menu li li li a{
	font-size:13px;
	padding:1px 0;
	color:#4d4d4d;
}
#left_menu li li li a:hover{
	text-decoration:underline;	
}
#left_menu li a:hover, #left_menu li.cur_product a{
	    color:#444;
}
#footer{
    margin: 30px 0 0 0;
	padding:15px 0 10px 0;
    text-align: left;
	font-size:14px;
	line-height:21px;
	color:#93908a;
	height:198px;
}
#footer img{
    margin-bottom: 5px;
}
#footer a:hover{
	text-decoration:underline;	
}
#footer a{
	color:#93908a;
}
.product{
	margin:0 28px 20px 0;
	width:204px;
	float:left;
}
.photo_product{
	min-height:100px;
	margin-right:20px;
}
.photo_product img{

}
.photo_product img.border{
	position:absolute;
	z-index:1;
	padding:0;
	margin:-1px 0 0 -2px;
}
.info_product{

}
#more_photo{
	margin-top:20px;	
}
#more_photo img.border{
	position:absolute;
	z-index:1;
	padding:0;
	margin:0;
	width:146px;
	height:94px;
}
#more_photo div{
	width:146px;
	float:left;
	margin:0 28px 20px 0;	
}
.name_product{
	color:#323232;
	font-size:16px;
	font-style:italic;
	text-align:center;
	height:50px;
	margin-top:3px;
}
.product_desc{
	font-style:italic;
	margin-top:10px;	
}
.status{
	position:absolute;
	margin:-7px 0 0 154px;
	z-index:4;
}
.copy a{
	padding:5px 15px;
	font-size:12px;
}
.paging{
	text-align:right;
	margin:10px;

	font-size:16px;
}
.paging a{
	padding: 1px 5px;
	margin:2px;

}
.paging span{
	margin:2px;
	padding: 1px 5px;
	
	color:#000;
	font-weight:bold;
}
.paging a:hover{
	color:#000;
}
.err{
	background-color:#ffecec;
	border:1px solid #f40000;
	padding:10px;
	margin:0 0 10px 0;	
}
.done{
	background-color:#f5ffe4;
	border:1px solid #7ac800;
	padding:10px;
	margin:0 0 10px 0;
}
.copy{
	width:690px;
	float:left;
	padding-top:46px;
}
.contact{
	margin:0 auto;	
}
.contact input[type=text], .contact textarea{
	width:350px;
}
input[type=text], input[type=password], textarea{
	border:1px solid #929292;
    background-color: #fff;
	padding:3px;
	color:#929292;
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;
	 -moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    border-radius: 7px; /* CSS3 */
}
textarea{
	height:50px;	
}
.submit{
	padding:2px 15px;
	cursor:pointer;
	background-color:#3b1a00;
    color: #fff;
	font-style:italic;
	border:none;
    font-size: 12px;
	font-family:Trebuchet MS;

   
	 -moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    border-radius: 7px; /* CSS3 */
}
.submit:hover{
    color: #ccc;
}
#feedback_other .submit{
	margin:5px 3px 0 0;	
}
#feedback_other input[type=button]{
	background-color:transparent;
	border:none;
	color:#333;
	font-size:12px;
	font-style:italic;
	font-family:Trebuchet MS;
}
.title{
	margin:0 0 10px 0;
	color:#3b1a00;
	font-size:20px;
	padding-bottom:5px;
	display:table;
	font-style:italic;
}
.title span{
    color: #67a128;
}
.navigation-pipe{
	padding:5px;
	font-size:12px;
}
#feedback_other{
    padding:0;
	width:688px;
	margin:45px auto 15px auto;
}
#feedback_other label{
    display:block;
    margin:10px 0 3px 0;
    font-size:14px;
}
#feedback_other input[type=text], #feedback_other textarea{
    width:240px;
	-moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    border-radius: 7px; /* CSS3 */
}
#feedback_other input[type=text]{
	margin-bottom:8px;
}
#feedback_other textarea{
	height:40px;
	width:400px;
}
#feedback_other h3{
    color:#323232;
	font-style:italic;
    font-size: 13px;
	font-weight:normal;
    margin:0;
    text-align:center;
}
#message{
    height:15px;
    color:red;
    font-size: 12px;
	text-align: center;
}
#slider{
    margin:0 auto 30px auto;
}
#img_load{
	text-align:center;
	width:404px;
	float:left;
	margin:0 10px 5px 0;
}
#img_load img{
	max-width:405px;
	 -moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    border-radius: 35px; /* CSS3 */
	border:1px solid #3B1A00;
}
#product_right{
	width:255px;
	float:left;
	text-align:center;
}
#product_name{
	font-size:26px;
	font-style:italic;
	font-weight:normal;
	color:#3b1a00;
	margin:0 0 10px 0;
	text-align:center;
	height:184px;
}
.price{
	font-size:20px;
	width:200px;
	float:left;
	color:#bd9563;
}
.price font{
	font-size:18px;
	font-family:Myriad Pro;	
}
.product_in{
	margin-top:30px;	
}
.product_in .price{
	font-size:36px;
	color:#3b1a00;
	margin-bottom:10px;
	float:none;
	width:255px;
	text-align:center !important;
}

.buy{
	background-image:url(../images/button_bg.png);
	background-repeat:no-repeat;
	font-size:26px;
	width:193px;
	height:58px;
	color:#f5eee5;
	border:none;
	background-color:transparent;
	cursor:pointer;
	padding:0 0 9px 0;
	margin:0 auto;	
}
.buy.buy2{
	background-image:url(../images/button_bg2.png);
}
.buy cufontext:hover{
	text-decoration:underline;
	color:#000;
}
.price .buy{
	display:table;
	margin:20px auto 0 auto;
}
.recalc{
	background-image:url(../images/recalc.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:transparent;
	width:16px;
	height:26px;
	border:none;
	margin-left:5px;
	cursor:pointer;
}
.contact_form{
	font-size:11px;
	margin:0 auto;
	width:270px;
	padding:20px 15px;
	margin-top:15px;
	position:relative;
}
.contact_form label{
	display:block;
	margin:10px 0 2px 0;
}
.contact_form input[type=text], .contact_form input[type=password], .contact_form textarea, .contact_form select{
	width:250px;	
}
.contact_form input[type=text], .contact textarea{
	margin:3px 0;
	width:250px;
}
.contact_form h2{
	font-size:15px;
}
.orders{
	width:100%;
	font-size:11px;
	border-collapse: collapse;
	padding:1px;
	margin-top:20px;
}
.orders input{
	text-align:center;
	width:20px;
}
.orders td{
	border:1px solid #ccc;
	border-top:none;
	padding:5px;
	text-align:left;
}
.orders th{
	border:1px solid #ccc;
	color:#000;
	padding:5px 10px;
	text-align:center;
	text-transform:uppercase;
}
.blue_but{
	background-image:url(../images/button_blue.png);
	background-repeat:no-repeat;
	display:table;
	width:171px;
	height:34px;
	font-size:14px;
	color:#2f547e;
	padding-top:12px;
	margin-bottom:3px;
}
.blue_but img{
	float:left;
	margin:-6px 8px 0 10px;
}
#news_block{
	margin:0 0 15px 25px;
	
}
.news_block{
	margin:0 0 15px 0;

	padding-bottom:15px;
}
.news_title{
	display:block;
	color:#535251;
	padding:0 0 5px 0;
	font-size:16px;
}
.news_desc{
	font-size:12px;
	margin-bottom:5px;
}
.all_news{
	font-size:14px;
	text-decoration:underline;	
}
.all_news:hover{
	text-decoration:none;	
}
.date{
	color:#5d777c;
	font-size:12px;
	margin:0 0 5px 0;
}
.start_title{
	color:#b61238;
	font-size:17px;
	margin:0 0 15px 0;
}
.cat{
	width:205px;
	height:200px;
	float:left;
	margin:0 27px 25px 0;
	text-align:center;
	font-size:18px;
}
.cat a{
	color:#0092dd;
}
.cat a:hover{

}
.cat img{
	width:202px;
	height:170px;
}
.cat img.cat_border{
	position:absolute;
	width:auto;
	height:auto;
}
.cat .name{
	z-index:9;
	position:relative;
	font-size:17px;
	font-style:italic;
	color:#5d777c;
}
#breadcrumbs{
	margin:0 0 15px 5px;	
	font-size:13px;
	font-style:italic;
	color:#196867;
}
#breadcrumbs a{
	color:#444444;	
}
#breadcrumbs a:hover{
	text-decoration:underline;	
}
#breadcrumbs span{
	padding:0 2px;
	color:#444;
}
.brown_but{
	background-image:url(../images/brown_but.png);
	text-align:center;
	color:#f5eee5;
	width:98px;
	height:28px;
	display:block;
	font-weight:bold;
	font-style:italic;
	font-size:13px;
	padding-top:9px;
}
.brown_but:hover{
	color:#f4dab5
}
#check_bg .brown_but{
	margin:15px auto;	
}
#slider_right{
	width:370px;
	float:left;
	margin:10px 0 0 65px;
	text-align:justify;
}
#slider_right a{
	color:#dbbb59;	
}
#slider_right a:hover{
	color:#b48c14;
}
.price_bg{
	background-image:url(../images/price_bg.png);
	background-repeat:no-repeat;
	width:59px;
	height:51px;
	color:#efe5cd;
	font-size:20px;
	padding:7px 0 0 11px;
	font-style:italic;
	position:absolute;
	margin:-179px 0 0 206px;
}
.price_bg font{
	font-size:12px;	
}
#title_slide, .block_title{
	font-size:21px;
	color:#3b1a00;
	font-style:italic;
	padding-bottom:4px;
	margin:15px 0 20px 0;
	display:table;
}
.block_title{
	display:block;
	margin:0 0 10px 0;	
}
#other{
	color:#3b1a00;
	font-size:21px;
	font-style:italic;
	margin:30px 0 5px 0;	
}